body {
    margin: 0;
    background-color: #1a1125;
    color: #F4f5f7;
}

.nav {
    background-color: #5b04bc;
    color: #F4f5f7;
    letter-spacing: .5em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
