body {
    margin: 0;
    background-color: #1a1125;
    color: #F4f5f7;
}

.nav {
    // background-color: #5b04bc;
    background: hsla(268, 20%, 25%, 1);

    background: linear-gradient(0deg, hsla(268, 20%, 25%, 1) 0%, hsla(268, 96%, 38%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(268, 20%, 25%, 1) 0%, hsla(268, 96%, 38%, 1) 100%);

    background: -webkit-linear-gradient(0deg, hsla(268, 20%, 25%, 1) 0%, hsla(268, 96%, 38%, 1) 100%);

    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3F334D", endColorstr="#5B04BC", GradientType=1 );

    color: #F4f5f7;
    letter-spacing: .5em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.island-container {
    justify-content: center;
    font-size: 1.5em;
    .island-buttons {
        background-color: #3f334d;
        color: #d9dce5;
        text-align: center;
        letter-spacing: 0.05em;
        line-height: 5em;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 1em;
        padding: 0.5em;
        height: 5em;
        min-width: 350px;
        border-radius: 0.25em;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
}
